@font-face {
  font-family: "Averta";
  src: url(./resources/AvertaDemo-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Averta", sans-serif;
  position: relative;
}

body {
  width: 100%;
  background-image: url(https://zuri.team/img/hero-bg.svg);
  background-repeat: no-repeat;
}
body .top-body {
  margin: 40px;
  margin-top: 5%;
  text-align: center;
  height: 100vh;
  width: 90%;
}
body .top-body img {
  margin: auto;
}
body .top-body .sect {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
body .top-body .sect h2 {
  font-size: 32px;
  font-weight: 800;
  color: #514949;
  margin: 5% auto;
}
body .top-body .sect .main-p {
  margin: 0 auto 2%;
  color: #514949;
  font-size: 16px;
  width: 57%;
  text-align: center;
  line-height: 1.5;
}
body .top-body .sect .main-p span {
  color: #eb5850;
}
body .top-body .join {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
body .top-body .join .main-button {
  background-color: #e7332b;
  color: white;
  margin: 10px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  border: 1px solid rgb(238, 41, 41);
}
body .top-body .join .main-button:hover {
  background-color: white;
  color: #e7332b;
}
body .top-body .join .second-button {
  border: 1px solid rgb(238, 41, 41);
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e7332b;
  background-color: white;
  border-color: rgba(207, 36, 36, 0.945);
}
body .top-body .join .second-button:hover {
  background-color: #e7332b;
  color: white;
}
body .container {
  background-color: white;
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
}
body .container .top-div {
  margin: auto;
  width: 80%;
}
body .container .top-div h3 {
  color: #e7332b;
  font-size: 14px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
body .container .top-div .zuri-class {
  color: #514949;
  font-size: 24px;
  font-weight: 400;
  width: 40%;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}
body .main-div {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
body .main-div .div {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: #fffafa;
  margin: 20px;
  text-align: left;
}
body .main-div .div .training {
  width: 120px;
  height: 150px;
}
body .main-div .div a {
  text-decoration: none;
  color: red;
}
body .main-div .div p {
  font-weight: 700px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 30px;
}
body h3 span {
  color: rgb(221, 40, 40);
}
body p span {
  color: red;
}
body .second-li a {
  text-decoration: none;
  color: red;
}
body .second-div,
body .third-div {
  background-color: rgb(241, 216, 225);
  padding: 40px;
  align-self: stretch;
  margin: 20px;
  padding-bottom: 50px;
  text-align: left;
  opacity: 0.7;
}
body .second-div a,
body .third-div a {
  text-decoration: none;
  color: red;
}
body .second-div p,
body .third-div p {
  font-weight: 700px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 30px;
}
body .top-div {
  padding: 20px;
  line-height: 25px;
  margin-top: 200px;
}
body .top-div span {
  color: red;
}

.fifth-div {
  padding: 20px;
}
.fifth-div img {
  width: 100px;
  height: 100px;
}

.first-li,
.second-li,
.last-div {
  display: block;
}

.social-images {
  display: flex;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h3 {
  padding-bottom: 20px;
}

.last-p {
  display: block;
}

.copy-footer {
  margin: 40px auto 100px auto;
  font-weight: bold;
  text-decoration: none;
}

.social-images img {
  width: 40px;
  height: 30px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */