@font-face {
  font-family: "Averta";
  src: url(./resources/AvertaDemo-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Averta", sans-serif;
  position: relative;
}

body {
  width: 100%;
  background-image: url(https://zuri.team/img/hero-bg.svg);
  background-repeat: no-repeat;
}

.top-body {
  margin: 40px auto;
  margin-top: 5%;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.top-body img {
  margin: auto;
}
.top-body .sect {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.top-body .sect h2 {
  font-size: 32px;
  font-weight: 800;
  color: #514949;
  margin: 5% auto;
}
.top-body .sect .main-p {
  margin: 0 auto;
  color: #514949;
  font-size: 16px;
  width: 90%;
  text-align: center;
  margin-bottom: 5%;
  line-height: 1.5;
}
.top-body .sect .main-p p {
  width: 60%;
  margin: auto;
}
.top-body .sect .main-p p a {
  color: #eb5850;
  text-decoration: none;
}
.top-body .join {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.top-body .join .main-button {
  background-color: #e7332b;
  color: white;
  margin: 10px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 220px;
  text-decoration: none;
  border: 1px solid rgb(238, 41, 41);
}
.top-body .join .main-button:hover {
  background-color: white;
  color: #e7332b;
}
.top-body .join .second-button {
  border: 1px solid rgb(238, 41, 41);
  text-align: center;
  margin: 10px;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e7332b;
  background-color: white;
  border-color: rgba(207, 36, 36, 0.945);
}
.top-body .join .second-button:hover {
  background-color: #e7332b;
  color: white;
}

.container {
  background-color: white;
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
}
.container .top-div {
  margin: auto;
  width: 90%;
}
.container .top-div h3 {
  color: #e7332b;
  font-size: 14px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.container .top-div .zuri-class {
  color: #514949;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}
.container .top-div .zuri-class p {
  width: 95%;
  margin: auto;
}

.main-div {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.main-div .div {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: #fffafa;
  margin: 20px;
  text-align: left;
  color: #514949;
}
.main-div .div .training {
  width: 120px;
  height: 150px;
}
.main-div .div a {
  text-decoration: none;
  color: #e7332b;
}
.main-div .div p {
  font-weight: 700px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 30px;
}

.footer {
  width: 90%;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
  border-bottom: 2px solid rgb(207, 207, 207);
}
.footer .f-div {
  align-self: flex-start;
  margin-top: 10px;
}
.footer .f-div img {
  width: 150px;
}
.footer .first-li, .footer .last-div, .footer .second-li {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.footer .first-li h3, .footer .last-div h3, .footer .second-li h3 {
  color: #514949;
  font-size: 16px;
}
.footer .first-li .link, .footer .last-div .link, .footer .second-li .link {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  height: 60px;
  justify-content: inherit;
}
.footer .first-li .link a, .footer .last-div .link a, .footer .second-li .link a {
  text-decoration: none;
  color: #eb5850;
}
.footer .second-li {
  line-height: 1.49;
}
.footer .second-li p {
  color: #514949;
  font-size: 14px;
}
.footer .second-li a {
  text-decoration: none;
  color: #eb5850;
  font-size: 14px;
}
.footer .last-div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: flex-start;
}
.footer .last-div .social-images {
  margin-top: 10px;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  width: 120px;
}
.footer .last-div .social-images a img {
  width: 20px;
}

footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10%;
  color: #514949;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 769px) {
  .main-div {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
  .footer .f-div {
    align-self: center;
    margin-bottom: 30px;
  }
  .footer .first-li, .footer .second-li, .footer .last-div {
    margin-bottom: 20px;
    align-items: center;
  }
  .footer .first-li h3, .footer .second-li h3, .footer .last-div h3 {
    font-size: 24px;
  }
  .footer .second-li {
    text-align: center;
  }
  .footer .last-div {
    align-self: center;
  }
}
@media (max-width: 700px) {
  .top-body .sect .main-p p {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */