@font-face {
    font-family: "Averta";
    src: url(./resources/AvertaDemo-Regular.otf);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Averta", sans-serif;
  }
  
  body {
      .top-body{
    margin: 40px;
    margin-top: 5%;
    text-align: center;
    background-image: url(https://zuri.team/img/hero-bg.svg);
    background-repeat: no-repeat;
    height: 110vh;
    background-size: cover;
    background-position: center center;
    img{
        margin: auto;
    }
    .sect{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        h2{
            font-size: 32px;
            font-weight: 800;
            color: #514949;
            margin: 5% auto;
        }
        .main-p{
            margin: 0 auto 2%;
            color: #514949;
            font-size: 16px;
            span{
                color: #eb5850;
            }
            line-height: 1.5;
        }

    }

      }
  }
  
  
  
  .main-div {
    display: flex;
    padding: 50px;
  }
  
  .container {
    background-color: white;
    padding-bottom: 100px;
  }
  
  .training {
    width: 150px;
    height: 150px;
  }
  
  .first-div {
    background-color: rgb(241, 216, 225);
    padding: 40px;
    align-self: stretch;
    margin: 20px;
    padding-bottom: 50px;
    text-align: left;
    opacity: 0.7;
  
    a {
      text-decoration: none;
      color: red;
    }
  
    p {
      font-weight: 700px;
      font-size: 15px;
      line-height: 25px;
      text-align: left;
      margin-bottom: 30px;
    }
  }
  
  h3 span {
    color: rgb(221, 40, 40);
  }
  
  .zuri-class {
    padding: 20px;
  }
  
  p span {
    color: red;
  }
  
  .second-li a {
    text-decoration: none;
    color: red;
  }
  
  .second-div, .third-div {
    background-color: rgb(241, 216, 225);
    padding: 40px;
    align-self: stretch;
    margin: 20px;
    padding-bottom: 50px;
    text-align: left;
    opacity: 0.7;
  
    a {
      text-decoration: none;
      color: red;
    }
  
    p {
      font-weight: 700px;
      font-size: 15px;
      line-height: 25px;
      text-align: left;
      margin-bottom: 30px;
    }
  }
  
  
  .top-div {
    padding: 20px;
    line-height: 25px;
    margin-top: 200px;
  
    span {
      color: red;
    }
  }
  
  .main-button {
    background-color: rgba(243, 56, 56, 0.945);
    color: rgba(255, 255, 255, 0.925);
    margin: 10px;
    text-align: center;
    padding: 15px;
    font-size: larger;
    cursor: pointer;
    width: 20%;
    border: 1px solid rgb(238, 41, 41);
  
    &:hover {
      background-color: white;
      color: rgb(245, 50, 50);
    }
  }
  
  .second-button {
    border: 1px solid rgb(238, 41, 41);
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: large;
    cursor: pointer;
    width: 20%;
    color: rgba(219, 21, 21, 0.945);
    background-color: white;
    border-color: rgba(207, 36, 36, 0.945);
  
    &:hover {
      color: white;
      background-color: rgb(245, 50, 50);
    }
  }
  
  .fifth-div {
    padding: 20px;
  
    img {
      width: 100px;
      height: 100px;
    }
  }
  
  .first-li, .second-li, .last-div {
    display: block;
  }
  
  .social-images {
    display: flex;
    gap: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h3 {
      padding-bottom: 20px;
    }
  }
  
  .last-p {
    display: block;
  }
  
  .copy-footer {
    margin: 40px auto 100px auto;
    font-weight: bold;
    text-decoration: none;
  }
  
  .social-images img {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }